@model IEnumerable<ZeynepBeautySaloon.Models.Personel>

@{
    ViewData["Title"] = "Personel Listesi";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["msj"] != null)
{
    <div class="alert alert-info">@TempData["msj"]</div>
}

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Yeni Personel Ekle</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uzmanlik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusaitlikDurumu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uzmanlik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MusaitlikDurumu)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Düzenle</a>
                        <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                        <text>|</text>
                    }
                    <a asp-action="PersonelDetay" asp-route-id="@item.Id" class="btn btn-info">Detaylar</a> |
                </td>
            </tr>
        }
    </tbody>
</table>