@model IEnumerable<ZeynepBeautySaloon.Models.Appointment>

@{
    ViewData["Title"] = "Randevular";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["msj"] != null)
{
    <div class="alert alert-info">@TempData["msj"]</div>
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saat)
            </th>
            <th>
                İşlem Adı
            </th>
            <th>
                Personel Adı
            </th>
            <th>
                Ücret
            </th>
            <th>
                Onay Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Tarih.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Islem.IslemAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Islem.Personel.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ucret) ₺
                </td>
                <td>
                    @(item.OnayDurumu ? "Onaylandı" : "Onaylanmadı")
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detaylar</a>
                    @if (User.IsInRole("Admin"))
                    {
                        if (!item.OnayDurumu)
                        {
                            <form asp-action="Onayla" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-success">Onayla</button>
                            </form>
                        }
                        <form asp-action="IptalEt" asp-route-id="@item.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">İptal Et</button>
                        </form>
                    }
                    else if (item.UyeId.ToString() == Context.Session.GetString("UserId"))
                    {
                        <form asp-action="IptalEt" asp-route-id="@item.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">İptal Et</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>