@model ZeynepBeautySaloon.Models.Islemler

@{
    ViewData["Title"] = "İşlem Sil";
}

<h2>@ViewData["Title"]</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IslemAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IslemAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personel)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Personel != null)
            {
                @Html.DisplayFor(model => model.Personel.Ad)
            }
            else
            {
                <span>Atanmamış</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>