@model ZeynepBeautySaloon.Models.Islemler

@{
    ViewData["Title"] = "Hizmet Sil";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<h3 class="text-center">Silmek istediğinize emin misiniz?</h3>
<hr />
<div class="card mb-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IslemAdi)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IslemAdi)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Sure)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Sure)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Ucret)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Ucret)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Personel)
            </dt>
            <dd class="col-sm-9">
                @if (Model.Personel != null)
                {
                    @Html.DisplayFor(model => model.Personel.Ad)
                }
                else
                {
                    <span>Atanmamış</span>
                }
            </dd>
        </dl>
    </div>
</div>

<div class="text-center">
    <form asp-action="Delete" class="d-inline">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" />
    </form>
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>